div.container-fluid {
    width: 100%;
}

.logo {
    text-align: center;
}

.hero > img {
    width: 400px;
}

.grid-three-column {
    grid-template-columns: 1fr;
}

.grid-two-auto-column {
    grid-template-columns: repeat(1, auto);
    justify-content: space-around;
}

footer {
    margin: unset;
    padding: unset;
    padding-left: 2em;
}

footer > div {
    margin-top: 2em;
}

footer > div > ul > li {
    padding-left: 1em;
}

/**********************************************************************************/
/* COSTS */
/**********************************************************************************/
.grid-three-column-center, .grid-two-column {
    grid-template-columns: auto;
}

.padding-top-two {
    padding: unset;
}

.grid-three-column-chart {
    grid-template-columns: auto;
}

.chart-wrapper {
    display: flex;
    justify-content: center;
}

section > p.small {
    margin-top: 2em;
}