@model ContactInfo


<section>
    <h2>Costs to end homelessness</h2>

    <ol class="flex-row no-label">
        <li>Manchester, NH - $5,365,800</li>
        <li>New Hampshire - $15,480,000</li>
        <li>United States of America - $6.2 billion</li>
    </ol>
</section>

<section class="grid-three-column-center costs">
    <div class="grid-center center">
        <div class="octagon bunkbeds padding-one-and-half">
            558
        </div>

        Manchester

        <ul class="align-left padding-top-two">
            <li>Sheltered: 416</li>
            <li>Unsheltered individuals: 142</li>
            <li>* School kids reporting in recent school year: 794</li>
        </ul>
    </div>
    <div class="grid-center center">
        <div class="octagon tents padding-one">
            1,605
        </div>

        New Hampshire

        <ul class="align-left padding-top-two margin-left-two">
            <li>Sheltered: 1,274</li>
            <li>Unsheltered individuals: 331</li>
            <li>* School kids reporting in recent school year: 3,590</li>
        </ul>
    </div>
    <div class="grid-center center">
        <div class="octagon street-tents padding-one-left">
            653,104
        </div>

        Nationally

        <ul class="align-left padding-top-two margin-left-two">
            <li>Sheltered: 396,494</li>
            <li>Unsheltered individuals: 256,610</li>
            <li>* School kids reporting in recent school year: 1,205,292</li>
        </ul>
    </div>
</section>

<section class="grid-two-column">
    <div>
        <p><q><span class="para-emphasis">Homelessness rose 12% nationally last year.</span> The rise was seen across all subgroups - families, individuals, older Americans, youth/young adults, and Veterans - and the number on driver has been <span class="para-emphasis">rising housing costs and a dire shortage of deeply affordable units.</span></q></p>

        <p><q>While rates of homelessness for people with severe mental health or substance use issues are high, <span class="para-emphasis">the majority of people experiencing homelessness have neither a servere mental health nor substance use issue.</span></q></p>

        <p class="signature">- Jeff Olivet, USICH National Report Feb 2024</p>
    </div>
    <div class="center wrapper">
        <div class="table-content">
            <img src="~/images/costs-banner.png" alt="Picture of a Woman overlaying a picture of a man next to an American flag" title="Picture of a Woman overlaying a picture of a man next to an American flag" />
        </div>        
    </div>
</section>
