@model ContactInfo

<h2>Counseling Services</h2>

<section>
<h2>Housing Counseling</h2>

<p>We provide comprehensive housing counseling to assist you with all aspects of your housing needs:</p>

<ol>
    <li>Rental Counseling: Guidance on finding and maintaining affordable rental housing.</li>
    <li>Homeownership Counseling: Support for those looking to buy their first home, including information on mortgage options and the home-buying process.</li>
    <li class="margin-top">Foreclosure Prevention: Assistance for homeowners facing foreclosure, including negotiation with lenders and exploring alternative options.</li>
</ol>
</section>

<section class="margin-top-4">
    <h2>Employment Counseling</h2>

    <p>Our employment counselors offer resources and support to help you find and secure employment:</p>

    <ol>
        <li>Job Search Assistance: Help with job searches, resume writing, and interview preparation.</li>
        <li>Career Development: Guidance on career planning and professional development opportunities.</li>
    </ol>
</section>

<section>
    <h2>Personal Counseling</h2>
    <p>We understand that life can be challenging, and sometimes you need someone to talk to. Our personal counseling services include:</p>

    <ol>
        <li>Individual Counseling: One-on-one sessions to address personal issues and mental health concerns.</li>
        <li>Family Counseling: Support for families dealing with relationship issues, parenting challenges, and more.</li>
        <li>Group Counseling: Group sessions focused on specific topics such as stress management, coping skills, and more.</li>
    </ol>
</section>