@model ContactInfo

<section>
    <h2>Key Statistics</h2>
</section>

<section class="grid-three-column">
    <div class="center chart-wrapper">
        <div>Disabled (Adults & HoH) Chart</div>
        <div class="chart disabled"></div>
        <div class="chart non-disabled"></div>
        <div class="chart no-answer"></div>
        <div class="chart client-doesnt-know"></div>
        <div class="chart client-prefers-not-to-answer"></div>
    </div>
    <div></div>
    <div></div>
</section>