@model ContactInfo

<section class="grid-two-auto-column">
    <div>
    <h2>Our Mission</h2>
    <p>
        At Legacy, our mission is to provide affordable and supportive shared housing opportunities in the City of Manchester. We are committed to fostering a stable and nurturing environment for our tenants by offering 3 and 4 bedroom apartments at accessible rental rates.
    </p>
    <p>
        We house 50 tenants across 15 apartments, ensuring each resident has immediate access to management and dedicated caseworkers for any social service needs. Additionally, we offer emergency housing and comprehensive caseworker support to help clients achieve housing, income, and emotional stability.
    </p>
    <p>
        Legacy is dedicated to creating a community where every individual can thrive and feel supported.
    </p>
    </div>
    <div class="right-column">
        <img class="right-side-img" src="/images/homeward-progress.png" alt="Picture of Backpack on Sidewalk" title="Picture of Backpack on Sidewalk" />
    </div>
</section>

<div style="display: none;">
<section class="grid-two-column">
    <div>
        <h3>Homeward Progress</h3>
        <p>Transition Support</p>

        <h3>Social Stability</h3>
        <ol>
            <li>Housing Stability</li>
            <li>Income Stability</li>
            <li>Emotional Stability</li>
            <li>Perpetual Housing Opportunities</li>
            <li>Continuous Support Services</li>
        </ol>
    </div>
    <div class="right-column">
        <img class="right-side-img" src="/images/homeward-progress.png" alt="Picture of Backpack on Sidewalk" title="Picture of Backpack on Sidewalk" />
    </div>
</section>

<section class="grid-two-column">
    <div>
        <img class="left-side-img" src="/images/social-stability.png" alt="Picture of Shopping Cart on Sidewalk full of Trash Bags" title="Picture of Shopping Cart on Sidewalk full of Trash Bags" />
    </div>

    <p>Social Stability requires a trilateral balance</p>
</section>

<section>
    <div class="hero"><img src="/images/home.jpg" /></div>
</section>

<section>
    <p>Providing the essentials for establishing a cyclical process for permanent housing.</p>
    <p>Embracing the Challenge with individual engagement.</p>
    <p>Empowering individuals to work towards readily available and clearly defined opportunites ensures a more positive and efficient transition and overall well-being.</p>

    [IMAGE]
</section>

<section>
    <h3>Shelter Demographics</h3>

    <ol>
        <li>Income without housing opportunity</li>
        <li>Willing without income opportunity</li>
        <li>Limited by mental and emotional instabilities</li>
        <li>Limited by Substance Use issues</li>
    </ol>
</section>

<section>
    <h3>Enabling Self Sustaining Homeward Opportunity</h3>

    <p>Providing a clear path to homeward opportunities that are immediate and established for positive growth and personal development.</p>

    <ol>
        <li>Traditional bunkbed sleeping quarters</li>
        <li>Two person sleeping quarters</li>
        <li>Shared apartment living or micro-home opportunities</li>
    </ol>
</section>

<section>
    <h3>Perpetual Housing Opportunity</h3>

    <ol>
        <li>Homeless or Substance Use Treatment</li>
        <li>Recovery or Sober Home</li>
        <li>Shared Apartment Housing</li>
        <li>Independent Housing Opportunities</li>
    </ol>

    [IMAGE]

    <ol>
        <li>Ensuring a swift and seamless transition is essential in providing immediate relief and long-term effectiveness</li>
        <li>Research indicates that early intervention and a peretual path homeward can prevent long-term homelessness</li>
    </ol>
</section>

<section>
    <h3>Time-Sensitive Community Based Resources</h3>
    <p>People require varying levels of support and time to transition effectively</p>

    <h3>Individualized Support</h3>
    <p>Emergency response and high impact time sensitive solutions early in the transition process</p>
</section>

<section>
    <p>The cost to end homelessness in NH is $800 per person per month</p>

    <ul>
        <li>No one goes unclothed in NH</li>
        <li>No one goes hungry in NH</li>
        <li>No one goes unseltered in NH</li>
    </ul>
</section>

<section>
    <h3>Micro Housing Opportunities</h3>

    [IMAGE]

    <p>An 8 x 20 unit costs $9,000 to build and includes a bathroom, shower and kitchenette.</p>

    <p>100% of units are built by tenants who work fulltime and build after work hours.</p>

    <p>One 5,000 square foot city lot can comfortably place 10 units utilizing only 50% of the land space.</p>
</section>
</div>
