@model ContactInfo

<h2>Legacy Residential Services</h2>

<div class="banner">
    <img src="/images/services.png" alt="Picture of Beds" title="Picture of Beds" />
</div>

<div class="content">
    <p>Legacy provides shared housing opportunities in 3 and 4 bedroom apartments in the City of Manchester.</p>

    <p>Legacy houses 50 tenants in 15 apartments at $200-250 per week rental rates.</p>

    <p>legacy provides emergency housing and caseworker support to 6 clients helping to establish housing, income and emotional stability.</p>

    <p>Legacy provides, to all tenants, immediate access to management and a caseworker to help with any social service related requests.</p>
</div>