@model ContactInfo

<h2>Testimonials</h2>

<section>
    <p>At Legacy, we take pride in the positive impact we have on our residents’ lives. Hear directly from our community members about their experiences living in our affordable housing.</p>

    <h3>Resident Stories</h3>
    <p class="highlight">THESE ARE TEMP STORIES, CAN BE REPLACED WITH REAL STORIES, OR VIDEOS.</p>
</section>

<section class="grid-two-auto-column gap-2">
    <div class="testimonial">

        <p>“I’m happy here. The maintenance is all done, I have a roof over my head, and the location is very convenient. The people really care about you. I’m comfortable here. We are all like a family.”</p>

        <i>June, North Community Place, Columbus, Ohio</i>
    </div>

    <div class="testimonial">
        <p>“I liked what I saw when I came here. It is very comfortable. You feel more at home here. Any senior looking for a place to live, this should be the first place you look. It’s the best place in Marion.”</p>

        <i>John, Chadwick Place, Marion, Ohio</i>
    </div>

    <div class="testimonial">
        <p>“I enjoy being here. It’s like a great big family. Everyone helps everyone. People pick you up when you’re down and know you like family here.”</p>

        <i>Janice, Tubman Towers, Springfield, Ohio</i>
    </div>

    <div class="testimonial">
        <p>“I had nowhere to go, but when I came here, I made friends. And now I cook the holiday meals to feed people in the building. That is what makes me happy!”</p>

        <i>Juanita, Woodridge Place, Columbus, Ohio</i>
    </div>
</section>

<section>
    <h2>Share Your Story</h2>

    <p>
        We love hearing from our residents! If you would like to share your experience living in our community, please contact us at <span class="highlight">[Email Address]</span> or visit our office. Your story could be featured on our website and inspire others to join our wonderful community.
    </p>
</section>